html {
    scroll-behavior: smooth;
}

body {
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    overflow-x: hidden;
    -ms-overflow-style: scrollbar;
    -webkit-font-smoothing: antialiased;
}

body > section:not([id="head"]) {
    background-color: white;
}

#head .head-first {
    width: 100%;
    height: 90%;
    z-index: -100;
}

.nav-brand {
    font-weight: 500;
}

.nav-item .nav-link:hover {
    background-color: white;
    color: black !important;
    border-radius: 1.5rem;
}

.nav-item .nav-link {
    color: white !important;
    font-weight: 500;
    font-size: 18px
}

#head .navbar {
    background: linear-gradient(-60deg, #ef404c, #faae79, #f4794f);
    margin-bottom: 0;
    border: 0;
}

.navbar-toggler {
    background-color: transparent !important;
    opacity: .8;
    border-width: 1px !important;
}

#head {
    padding-bottom: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 80vh;

}

#head h1:nth-child(1) {
    color: white;
    font-weight: 600;
    letter-spacing: 1.2px;
    font-family: sans-serif;
    font-size: 72px;
    background: -webkit-linear-gradient(60deg, #ef404c, #faae79, #f4794f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#head .col h3 {
    font-size: 40px;
    font-weight: 500;
    color: white;
}

#head .col {
    margin-top: 15vh;
    padding-bottom: 2vh;
}

#work img {
    width: 100%;
    height: 80%;
}

#work img:hover {
    box-shadow: 2px 3px 3px 1px rgba(0, 0, 0, .22), 3px 4px 4px 2px rgba(0, 0, 0, 0.19);
}

#work a {
    text-decoration: none;
    color: rgb(255, 67, 67);
}

#course .card {
    margin: 30px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, .4);
    width: 250px;
    height: 250px;
    border-radius: .7rem;
    background: linear-gradient(20deg, #ef404c, #faae79, #f4794f);
    justify-content: center;
    line-height: 1.2rem;
    display: inline-block;
}

#course .card h1 {
    font-weight: 600;
    opacity: .2;
    transition: .5s;
    color: black;
}

#course .card:hover h1 {
    transform: translateY(-8px);
    opacity: 1;
}

#course .card p {
    font-size: 15px;
    padding: 5px;
}


.nav-pills .nav-link.active,
.nav-pills .nav-link {
    border-radius: none;
    font-weight: 530;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
}

.nav-pills .nav-link.active {
    background: linear-gradient(20deg, #ef404c, #faae79, #f4794f);
    color: white;
}

#bottom {
    margin-top: 12vh;
    margin-bottom: 7vh;
}

#bottom img {
    max-width: 100%;
    width: 400px;
    height: 300px;
    object-fit: cover;
}

#bottom #yt {
    position: relative;
    top: 18%;
}

#testimonial .card2 {
    width: 350px;
    max-width: 100%;
    margin: auto;
    text-align: center;
    font-family: ;
    display: inline-block;
    margin: 20px;
}

blockquote {
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    text-align: justify;
}

blockquote p {
    font-style: italic;
    display: inline;
    font-size: 15px;
    font-family: sans-serif;
}

blockquote::before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote::after {
    color: #ccc;
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-left: 0.25em;
    vertical-align: -0.5em;
}

#testimonial a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

#testimonial #image:hover {
    opacity: 0.8;
    transition: 0.5s;
    transform: scale(1.1);
}

#testimonial #name:hover {
    background-image: linear-gradient(to right, #ef404c, #f4794f);
    color: white;
    border-radius: 20px;
    transition: .5s;
    transform: scale(1.1);
}

#testimonial #data:hover {
    transform: scale(1.1);
    transition: .5s;
}

#testimonial #ico:hover {
    transform: scale(1.5);
    transition: 0.5s;
}

/*footer*/
#last {
    background-color: #f4794f;
}

.ct-footer-pre {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.ct-footer-pre .inner:nth-child(1) {
    font-size: 30px;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    margin: 2rem;
}

#last .form-group input {
    background-color: white;
    height: 50px;
    width: 300px;
    outline: none;
    border: none;
    box-shadow: 10px 30px 30px rgba(0, 0, 0, .2);
    border-radius: 2rem;
    padding: 1rem;
    margin: 1.5rem;
}

#last .form-group input[type="text"] {
    font-style: italic;
    padding: 1.5rem;
    text-transform: capitalize;
}

#last .btn-motive {
    display: inline;
    padding: .6rem 1.8rem;
    background-color: #ef404c;
    color: white;
    box-shadow: 10px 20px 30px rgba(0, 0, 0, .2);
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
}

#last .ct-footer-list {
    display: flex;
    justify-content: space-around;
}

.ct-footer-post {
    background-color: #ef404c;
}

.ct-footer-post .inner-right {
    display: flex;
    justify-content: center;
}

.ct-footer-post .inner-right p {
    margin-top: 20px;
    font-size: 15px;
    color: white;
}

.ct-footer-post .inner-right a {
    color: white !important;
}

.ct-footer-post .inner-right a:hover {
    color: darkturquoise !important;
}

#last a {
    text-decoration: none;
    color: black;
}

#last a:hover {
    color: darkturquoise;
}

/*media query*/

@media (min-width:768px) and (max-width:1100px) {
    .ct-footer-pre {
        display: block;
        padding: 1rem;
    }

    .ct-footer-pre .inner:nth-child(1) {
        font-size: 28px;
        margin: 1.5rem;
    }

    #last .form-group input {
        margin: 1rem;
        float: left;
        height: 20px;

    }

    #last .btn-motive {
        display: inline;
        padding: .4rem 1.6rem;
        float: left;
        margin: 1rem;
    }

    #last .ct-footer-list {
        margin-top: 5rem;
        font-size: 12px;
        display: flex;
        padding: 0
    }
    #last .ct-footer-list h2{
        font-size: 25px;
    }

}
@media (min-width:400px) and (max-width:768px){
    .ct-footer-pre {
        display: block;
        padding: .5rem;
        justify-content: center;
    }
    .ct-footer-pre .inner:nth-child(1) {
        font-size: 20px;
        margin: 1rem 0;
        text-align: center;
    }
    #last .form-group{
        display: flex;
        justify-content: center;
    }
    #last .form-group input {
        margin: .5rem;
        height: 20px;
        width: 200px;
    }

    #last .btn-motive {
        padding: .2rem 1.2rem;
        margin: 1rem;
    }

    #last .ct-footer-list {
        margin-top: 3rem;
        font-size: 12px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #last .ct-footer-list >li{
        padding: 20px 0;
        justify-content: space-between;
    }
    #last .ct-footer-list h2{
        font-size: 25px;
        flex-wrap: wrap;
    }
    #last .form-group input[type="text"] {
        font-size: 12px;
}
}
@media (min-width:694px) and (max-width:720px){
    #last .ct-footer-list >li{
        padding: 0 10px;
    }
}

@media (max-width:400px){
        .ct-footer-pre {
        display: block;
        padding: .2rem;
        justify-content: center;
    }
    .ct-footer-pre .inner:nth-child(1) {
        font-size: 18px;
        margin: 1rem 0;
        text-align: center;
    }
    #last .form-group{
        display: flex;
        justify-content: center;
    }
    #last .form-group input {
        margin: .5rem 0;
        height: 20px;
        width: 200px;
    }

    #last .btn-motive {
        padding: .4rem 1.2rem;
        margin: 1rem;
    }

    #last .ct-footer-list {
        margin-top: 2rem;
        font-size: 12px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;;
    }
    #last .ct-footer-list >li{
        padding: 20px 10px;
        justify-content: space-between;
    }
    #last .ct-footer-list h2{
        font-size: 20px;
        flex-wrap: wrap;
    }
    #last .form-group input[type="text"] {
        font-size: 12px;
}
    }

