html {
    scroll-behavior: smooth;
}

body {
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    overflow-x: none;
}

body > section:not([id="head"]) {
    background-color: white;
}

#head .head-first {
    width: 100%;
    height: 90%;
    z-index: -100;
}

.nav-brand {
    font-weight: 500;
}

.nav-item .nav-link:hover {
    background-color: white;
    color: black !important;
    border-radius: 1.5rem;
}

.nav-item .nav-link {
    color: white !important;
    font-weight: 500;
    font-size: 18px
}

#head .navbar {
    background: linear-gradient(-60deg, #ef404c, #faae79, #f4794f);
    margin-bottom: 0;
    border: 0;
}

.navbar-toggler {
    background-color: transparent !important;
    opacity: .8;
    border-width: 1px !important;
}

#head {
    padding-bottom: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 80vh;

}

#head h1:nth-child(1) {
    color: white;
    font-weight: 600;
    letter-spacing: 1.2px;
    font-family: sans-serif;
    font-size: 72px;
    background: -webkit-linear-gradient(60deg, #ef404c, #faae79, #f4794f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#head .col h3 {
    font-size: 40px;
    font-weight: 500;
    color: white;
}

#head .col {
    margin-top: 15vh;
    padding-bottom: 2vh;
}

#work img {
    width: 100%;
    height: 80%;
}

#work img:hover {
    box-shadow: 2px 3px 3px 1px rgba(0, 0, 0, .22), 3px 4px 4px 2px rgba(0, 0, 0, 0.19);
}

#work a {
    text-decoration: none;
    color: rgb(255, 67, 67);
}

#course .card{
    margin: 30px;
    box-shadow: 0px 20px 30px rgba(0,0,0,.4);
    width: 250px;
    height: 250px;
    border-radius: .7rem;
    background: linear-gradient(20deg, #ef404c, #faae79, #f4794f);
    justify-content: center;
    align-items: center;
}
#course .card h1{
    font-weight: 600;
    opacity: .2;
    transition: .5s;
    color: black;
}
#course .card:hover h1{
    transform: translateY(-8px);
    opacity: 1;
}
#course .card p{
    font-size: 15px;
    padding: 5px;
}
#bottom {
    margin-top: 12vh;
    margin-bottom: 7vh;
}

#bottom img {
    max-width: 100%;
    width: 400px;
    height: 300px;
    object-fit: cover;
}

#bottom #yt {
    position: relative;
    top: 18%;
}

#testimonial .card2 {
    width: 350px;
    max-width: 100%;
    margin: auto;
    text-align: center;
    font-family: ;
    display: inline-block;
    margin: 20px;
}

blockquote {
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    text-align: justify;
}

blockquote p {
    font-style: italic;
    display: inline;
    font-size: 15px;
    font-family: 'poppins';
}

blockquote::before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote::after {
    color: #ccc;
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-left: 0.25em;
    vertical-align: -0.5em;
}

#testimonial a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

#testimonial #image:hover {
    opacity: 0.8;
    transition: 0.5s;
    transform: scale(1.1);
}

#testimonial #name:hover {
    background-image: linear-gradient(to right, #ef404c, #f4794f);
    color: white;
    border-radius: 20px;
    transition: .5s;
    transform: scale(1.1);
}

#testimonial #data:hover {
    transform: scale(1.1);
    transition: .5s;
}

#testimonial #ico:hover {
    transform: scale(1.5);
    transition: 0.5s;
}

#last {
    background-color: #dce4c6;
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
}

#last a {
    color: #000;
    text-decoration: none;
}

#last a:hover {
    color: darkred;
}

#last .bottom-sec {
    padding-bottom: 1rem;
}
