body{
    font-family: 'poppins',sans-serif;
    text-decoration: none;
    overflow-x: none;
}
body > section:not([id="head"]){
    background-color: white;
}
#head img{
    width: 100%;
    height: 90%;
    z-index: -100;
    filter: blur(2px);
}
.nav-item .nav-link:hover{
    background-color: white;
    color: rgba(85,85,125,1) !important;
    border-radius: 24px;
}
#head .navbar{
    background: linear-gradient(90deg, rgba(36,0,33,1) 0%, rgba(85,85,125,1) 27%, rgba(100,173,73,1) 56%, rgba(0,255,50,1) 100%);
    box-shadow: 0 5px 0 0 rgba(85,85,125,.20);
    margin-bottom: 0;
    border: 0;
}
.navbar-toggler {
    background-color: transparent !important; 
    opacity: .8;
    border-width: 1px !important;
}
#head {
background: linear-gradient(90deg, rgba(36,0,33,1) 0%, rgba(85,85,125,.88) 27%, rgba(100,173,73,.65) 56%, rgba(0,255,50,.44) 100%);
padding-bottom: 0;}
#head .example input[type=text]{
    float: left;
    padding: 7px;
    width: 80%;
    border: 1px solid orange;
    font-size: 17px;
    border-radius: 24px 0px 0px 22px;
}
.example button{
    float: left;
    padding: 7px;
    width: 7%;
    border: 1px solid orange;
    border-left: none;
    font-size: 17px;
    background-color: orange;
    border-radius: 0px 24px 22px 0px;
}
.example button:hover{
    background-color: darkorange;
}
#head input{
    
}
#head .col{
    margin-top: 15vh;
    padding-bottom: 2vh;
}
#head .search{
    padding-bottom: 0;
}
#content{
   padding: 7.6rem,0;
    padding-top: 16vh;
}
#content .nav .nav-tabs li a{
    padding: 1.5rem,2rem;
    text-align: center;
    padding-right: 0px;
    border: none;
}
#content .nav-link{
    display: block;
    padding: 20px;
}
#content .card{
 border: none;   
}
#work{
    padding: 14vh;
}
#work img{
    width:100%;
    height: 80%;
}
#work img:hover{
box-shadow: 2px 3px 3px 1px rgba(0,0,0,.22),3px 4px 4px 2px rgba(0,0,0,0.19);
}
#bottom{
    padding-top: 12vh;
    padding-bottom: 16vh;
}
#bottom .card > div{
    background-color: rgba(30,30,30,.7);
    transform: translateX(-100%);
    transition: transform .35s;
}
#bottom .card:hover >div{
    transform: translateX(0);
}
#last{
    padding-top: 10px;;
    background-color: black;
}
#last a{
    color: white;
    text-decoration: none;
    padding: 20px;
    margin: 10px;
    text-align: center;
    align-content: center;
}
footer{
    background-color: rgba(1,33,27,1);
}

