@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700');
#carousel-main{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Poppins', sans-serif;
}
.card{
	position: relative;
	background: #fff;
	width: 400px;
	height: 500px;
	margin: 0 auto;
}
.card .content{
	widows: 100px;
	padding: 30px;
	box-sizing: border-box;
}
.card .sliderimg{
	position: relative;
	width: 70%;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('images/seeyourself.jpg');
}
.card .content h3{
	font-size: 1.5em;
}
.card .content p{
	display: inline-block;
	margin: 5px 0 0;
	padding: 4px 5px;
	text-decoration: none;
	font-weight: 200;
}


.card {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}