
#img {
    height: 23rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3rem;
}

img {
    vertical-align: middle;
}

.site-section {
    padding: 7em 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 12rem;
    margin-right: auto;
}
.row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

center {
    display: block;
}
a{
    color: black;
}